h1 {
    background-color:rgb(17, 17, 125);
    height: 80px;
    border-radius: 35px;
    color: #d4d0ff;
    font-style: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 1000;
    width: 100%;
}